{% extends "account/base.html" %}

{% load account %}

{% block title %}Redefinir sua senha{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <form class="form-account" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <h1>Redefinição de senha</h1>
    <p>Insira seu <b>e-mail</b> que você utilizou no cadastro. Nós mandaremos um e-mail com seu nome de usuário e um link para você redefinir sua senha.</p>
    <label for="id_email" class="sr-only">E-mail</label>
    <input id="id_email" type="email" class="form-control" name="email" placeholder="Endereço de e-mail" autofocus required>
    <button class="btn btn-success btn-block" type="submit">MANDAR</button>
  </form>
{% endblock %}
