{% extends "account/base.html" %}

{% block title %}Redefinir sua senha{% endblock %}

{% block content %}
  {% if token_fail %}
    <div class="form-account">
      <h1>Token inválido</h1>
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>O link para redefinição da senha era inválido, provavelmente por já ter sido usado. Por favor peça uma <a href="{{ passwd_reset_url }}">nova redefinição da senha</a>.</p>
    </div>
  {% else %}
    {% if form %}
      <form class="form-account" method="POST" action=".">
        {% csrf_token %}
        <label for="id_password1" class="sr-only">Nova senha</label>
        <input id="id_password1" type="password" name="password1" class="form-control" placeholder="Nova senha" required>

        <label for="id_password2" class="sr-only">Confirmar senha</label>
        <input id="id_password2" type="password" name="password2" class="form-control" placeholder="Confirmar senha" required>
        <button class="btn btn-success btn-block" type="submit">ALTERAR SENHA</button>
      </form>
    {% else %}
      <div class="form-account">
        <h4>Sua senha foi alterada com sucesso!</h4>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
