{% extends "account/base.html" %}

{% block title %}Inscrever-se{% endblock %}

{% block content %}
  <form class="form-library" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    {% if form.errors %}
        {% for error in form.errors %}
            {% if error == 'username' %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>Desculpe, esse nome de usuário não está disponível.</p>
              </div>
            {% elif error == 'password1' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p>Sua senha é muito curta.</p>
            </div>
            {% elif error == 'password2' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p>As senhas são diferentes.</p>
            </div>
            {% elif error == 'email' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p>Desculpe, esse e-mail já foi usado.</p>
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p>Ooops, ocorreu um erro! Tente novamente.</p>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <label for="id_username" class="sr-only">Nome de Usuário</label>
    <input id="id_username" type="text" class="form-control" name="username" placeholder="Nome de Usuário" required autofocus>

    <label for="id_email" class="sr-only">E-mail (opcional)</label>
    <input id="id_email" type="email" class="form-control" name="email" placeholder="Endereço de e-mail (opcional)">

    <label for="id_password1" class="sr-only">Senha</label>
    <input id="id_password1" type="password" name="password1" class="form-control" placeholder="Senha" required>

    <label for="id_password2" class="sr-only">Confirmar senha</label>
    <input id="id_password2" type="password" name="password2" class="form-control" placeholder="Confirmar senha" required>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-success btn-block" type="submit">INSCREVER-SE</button>

    <div class="form-library-info">
      <p>Já tem uma conta? <a href="{{ login_url }}">Entrar</a></p>
    </div>
  </form>
{% endblock %}
