{% extends "account/base.html" %}

{% block head_title %}Alterar sua senha{% endblock %}

{% block content %}
  <form class="form-library" method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    <label for="id_oldpassword" class="sr-only">Senha atual</label>
    <input id="id_oldpassword" type="password" name="oldpassword" class="form-control" placeholder="Senha atual" required>

    <label for="id_password1" class="sr-only">Nova senha</label>
    <input id="id_password1" type="password" name="password1" class="form-control" placeholder="Nova senha" required>

    <label for="id_password2" class="sr-only">Confirmar senha</label>
    <input id="id_password2" type="password" name="password2" class="form-control" placeholder="Confirmar senha" required>

    <button class="btn btn-success btn-block"type="submit">ALTERAR SENHA</button>
  </form>
{% endblock %}
